---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer>
    <div class="container" style="text-align: center;">
        <small>
            &copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved. 
            <br>Glory to Mankind.
        </small>
    </div>
</footer>

<style>
	footer {
		padding: 4em 1em 2em 1em;
		color: var(--text-color);
		opacity: 0.7;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
	}
</style>