---
import HeaderLink from './HeaderLink.astro';
import YorhaPattern from './YorhaPattern.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<YorhaPattern />

	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
        <!-- Hemos eliminado el div de social-links completamente -->
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: transparent;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
        color: var(--text-color);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--text-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--pattern-color);
        color: #fff;
	}
    /* En móviles, centramos todo */
	@media (max-width: 720px) {
		nav {
            flex-direction: column;
            gap: 1rem;
        }
	}
</style>